# Carpeta de compilación
/build/
/dist/

# Archivos de NetBeans privados
/nbproject/private/

# Clases compiladas
*.class

# Archivos empaquetados
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Archivos de log
*.log

# Manifest (se genera en build/dist, opcional si no quieres subirlo)
manifest.mf

